{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
संस्थागत व्यवस्था - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
संस्थागत व्यवस्था
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}

<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">4. संस्थागत व्यवस्था</h6>
    {% crispy form %}
</div>

{% endblock content %}