{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
सशर्त अनुदानतर्फ रकम फ्रिजको विवरण (स्थानीय तहको लागि)- Nepal Audit Management System
{% endblock title %}

{% block page_title %}
सशर्त अनुदानतर्फ रकम फ्रिजको विवरण (स्थानीय तहको लागि)
{% endblock page_title %}

{% block page_actions %}
<div class="align-vertical">
    {% include 'master_data/partials/go_back.html' %}
</div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}
<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">फाराम — १०ः सशर्त अनुदानतर्फ रकम फ्रिजको विवरण (स्थानीय तहको लागि)</h6>

    {% crispy form %}

    <div class="card-warning mt-3">
        <div class="align-vertical justify-content-between">
            <h6>नोटः यो बिबरणमा प्रदेश अन्तरगतका सबै कोभिड अस्पतालबाट संकलन गर्री बिबरण उपलब्ध गराउनुहोला । </h6>
            <a href="javascript:void(0)" class="ic-close close-card"></a>
        </div>

    </div>

</div>
{% include 'core/forms/form_footer.html' %}
{% endblock content %}
