{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
कोभिड अस्पताल ब्यबस्थापन सम्बन्धी चेकलिष्ट - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
कोभिड अस्पताल ब्यबस्थापन सम्बन्धी चेकलिष्ट
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        <div class="fiscal-year">
            <span class="text-secondary des">आर्थिक वर्ष</span>
            <span>२०७७/७८</span>
            <a href="" class="ic-settings">
            </a>
        </div>
        <a href="" class="btn btn-success text-white ml-3">Save</a>
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}

<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">कोभिड अस्पताल ब्यबस्थापन सम्बन्धी चेकलिष्ट</h6>

    <div class="table-responsive">
        <table class="table table-01 table-bordered mt-3">
            {% crispy form %}
        </table>
    </div>
</div>
{% endblock content %}
