{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="modal-header">
    <h6 class="modal-title" id="exampleModalLabel">quarantine</h6>
    <a class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body pt-2">
    <form id="quarantine_create" method="post" action="{% url 'md-quarantine:create' %}">
        {% csrf_token %}
        {{ form|crispy }}
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
    <button id="btn_quarantine_create" form="quarantine_create" type="submit" class="btn btn-success">Save</button>
</div>

{% endblock content %}
