{% load static %}

<div class="text-right mt-3">
    {% if not metadata.is_first_form %}
        <button type="submit" class="btn btn-outline-secondary" form="form_to_submit" id="previous">Previous</button>
    {% endif %}

    {% if metadata.is_last_form %}
        <button class="btn btn-warning ml-2" form="form_to_submit" id="review">Submit</button>
    {% else %}
        <button type="submit" form="form_to_submit" class="btn btn-info ml-2" id="next">Next</a>
    {% endif %}
</div>

{% block extrascripts %}
    <script>
        $( '#previous' ).on('click', function(event){
            $( "input[name='next_state']" ).val('previous');
        });

        $( '#review' ).on('click', function(event){
            $( "input[name='next_state']" ).val('submit');
        });
    </script>
{% endblock extrascripts %}
