{% load crispy_forms_tags %}

<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLabel">PeskiBibaran</h6>
  <a class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body pt-2">
  <form id="peski_bibaran_update" method="post" action="{% url 'md-peski_bibaran:update' peski_bibaran.pk %}">
    {% csrf_token %}
    {{ form|crispy }}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
  <button id="peski_bibaran_update" form="peski_bibaran_update" type="submit" class="btn btn-success">Save</button>
</div>
