{% load static %}

<!-- jQuery Calendars -->
<script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.plus.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calendars/css/redmond.calendars.picker.css' %}">
<script type="text/javascript" src="{% static 'calendars/js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.picker.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.nepali.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.nepali-ne.js' %}"></script>