{% load static %}

<!-- jQuery Calendars -->
<script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.plus.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calendars/css/redmond.calendars.picker.css' %}">
<script type="text/javascript" src="{% static 'calendars/js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.picker.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.nepali.js' %}"></script>
<script type="text/javascript" src="{% static 'calendars/js/jquery.calendars.nepali-ne.js' %}"></script>

{% comment %} Select 2 widget {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>