<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        {% comment %} use this {% endcomment %}
      {% endblock title%}
    </title>

    {% block styles %}
      {% include 'core/_styles.html' %}

      {% block extrastyles %}
        {% comment %} use this {% endcomment %}
      {% endblock extrastyles %}
    {% endblock styles %}

    {% include 'core/_head_scripts.html' %}
  </head>
  
  <body>
    {% block modal %}
      {% comment %} use this {% endcomment %}
    {% endblock modal %}
    <div class="dashboard">
      <aside class="sidebar">
        {% include 'core/_sidebar.html' %}
      </aside>

      <main class="dashboard--main">
        {% include 'core/_header.html' %}
        
        {% comment %} Page Header {% endcomment %}
        <div class="page-header">
          <div class="page-header--title">
            {% block breadcrumbs %}
              
            {% endblock breadcrumbs %}
            <h6 class="page-header--head">
              {% block page_title %}
                {% comment %} सरकारी निकाय {% endcomment %}
              {% endblock page_title %}
            </h6>
          </div>
          <div class="ml-2">
            {% block page_actions %}
              
            {% endblock page_actions %}
          </div>
        </div>
        
        <div class="content">

          {% block dashboard %}
            {% include 'core/_filter.html' %}
          {% endblock dashboard %}
          
          {% if 'forms' in request.path or 'master-data' in request.path or 'users' in request.path %}
            <div class="card card-body">
          {% endif %}

              {% block content %}
                
              {% endblock content %}
              
          {% if 'forms' in request.path or 'master-data' in request.path or 'users' in request.path %}
            </div>
          {% endif %}
        </div>
      </main>
    </div>
    {% block scripts %}
        {% include 'core/_scripts.html' %}

        {% block extrascripts %}
          <!-- {% comment %} use this {% endcomment %} -->
        <script type="text/javascript">
            $(document).ready(function(){
            $("textarea").attr({"rows": "2",
                                "cols": "30",'class':'textarea_id'
            });
        });
        </script>
        <!-- use for textareafield -->
        {% endblock extrascripts %}

      {% endblock scripts %}
  </body>
</html>
