{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
कोभिड-१९ विशेष लेखापरीक्षणको सिलसिलामा प्रदेश अस्पताल र प्रयोगशालाले माग गरेको सूचना एवं जानकारी उपलव्ध गराउने प्रयोजनको
लागि तयार गरेको प्रश्नावली एवं विवरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
कोभिड-१९ विशेष लेखापरीक्षणको सिलसिलामा प्रदेश अस्पताल र प्रयोगशालाले माग गरेको सूचना एवं जानकारी उपलव्ध गराउने प्रयोजनको
लागि तयार गरेको प्रश्नावली एवं विवरण
{% endblock page_title %}

{% block content %}
<div class="card card-body mt-3">
  <h6 class="heading-01 mb-3">कोभिड-१९ विशेष लेखापरीक्षणको सिलसिलामा प्रदेश अस्पताल र प्रयोगशालाले माग गरेको सूचना एवं
    जानकारी उपलव्ध गराउने प्रयोजनको लागि तयार गरेको प्रश्नावली एवं विवरण</h6>

  {% crispy form %}

</div>

<div class="text-right mt-3">
  <button type="submit" form="create_form" class="btn btn-info ml-2" id="next">Start</a>
</div>
{% endblock content %}

{% block extrascripts %}
<!-- load data as script -->

{{ districts|json_script:"districts_data" }}
{{ local_levels|json_script:"local_levels_data" }}
{{ hospitals|json_script:"hospitals_data" }}
<script>
  // load data for use
  const districts = JSON.parse(document.getElementById('districts_data').textContent);
  const local_levels = JSON.parse(document.getElementById('local_levels_data').textContent);
  const hospitals = JSON.parse(document.getElementById('hospitals_data').textContent);

  $(document).ready(function () {

    $( "select[name='province'], select[name='district'], select[name='local_level'], select[name='hospital']").select2();
  });

  // onchange province
  $("select[name='province']").on('change', function (event) {
    "Set district values according to province"
    province_value = parseInt($("select[name='province']").val());

    province_districts = districts.filter(function (item) {
      return item.province_id == province_value;
    });
    province_districts.unshift({id:"", text:"---------"})

    district_select = $("select[name='district']");
    $("select[name='district'] option").remove();
    
    district_select.select2({
      data: province_districts,
    })
  });

  // onchange district
  $("select[name='district']").on('change', function (event) {
    "Set local level values according to district"
    district_value = parseInt($("select[name='district']").val());

    district_locallevels = local_levels.filter(function (item) {
      return item.district_id == district_value;
    });
    district_locallevels.unshift({id:"", text:"---------"})

    local_level_select = $("select[name='local_level']");
    $("select[name='local_level'] option").remove();
    
    local_level_select.select2({
      data: district_locallevels
    })
  });

  // onchange local level
  $("select[name='local_level']").on('change', function (event) {
    "Set hospital values according to local levels"
    local_level_value = parseInt($("select[name='local_level']").val());

    hospital_local_levels = hospitals.filter(function (item) {
      return item.local_level_id == local_level_value;
    });
    hospital_local_levels.unshift({id:"", text:"---------"})

    hospital_select = $("select[name='hospital']");
    $("select[name='hospital'] option").remove();
    
    hospital_select.select2({
      data: hospital_local_levels,
      tags: true,
    })
  });
</script>
{% endblock extrascripts %}