{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Covid Hospital Equipment - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
Covid Hospital Equipment
{% endblock page_title %}

{% block page_actions %}
        <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">कोभिड डेडिकेट्ड अस्पतालमा रहेका स्वास्थ्य उपकरण सम्बन्धी विवरण</h6>

        <div class="table-responsive">
          <table class="table table-01 table-bordered mt-3">
            {% crispy form %}
          </table>
        </div> 
        
      </div>
    {% include 'core/forms/form_footer.html' %}
{% endblock content %}