{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
स्थानिय तहमा सम्पर्क व्यक्तिको नाम र ठेगाना  - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
स्थानिय तहमा सम्पर्क व्यक्तिको नाम र ठेगाना 
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}

<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">स्थानिय तहमा सम्पर्क व्यक्तिको नाम र ठेगाना </h6>


    <div class="table-responsive">
        <table class="table table-01 table-bordered mt-3">
            {% crispy form %}
        </table>
    </div>
    <div class="card-warning mt-3">
        <div class="align-vertical justify-content-between">
            <h6>द्रष्टब्य : विवरण निकयबता प्रमाणित गर्नु पर्ने र आ. व. २०७७ /७८ को सूचना मंसिर मसान्त सम्मको उल्लेख गर्ने।</h6>
            <a href="javascript:void(0)" class="ic-close close-card"></a>
        </div>
    </div>
</div>
{% endblock content %}
