{% load crispy_forms_tags %}

<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLabel">Add Group</h6>
  <a class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body pt-2">
{{form.errors}}
  <form id="user_create" method="post" action="{% url 'md-users:create_group' %}">
    {% csrf_token %}
    {{ form|crispy  }}
    {% comment %} <input type="text" name="name" placeholder="Group name"><br> {% endcomment %}
    {% comment %} {% for permission in permissions %}
        <input type="checkbox" id="{{permission.pk}}" value="{{permission.pk}}" name="permissions">
        <label for="{{permission.pk}}">{{permission.name}}</label><br>
    {% endfor %} {% endcomment %}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
  <button id="btn_user_create" form="user_create" type="submit" class="btn btn-success">Save</button>
</div>