{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Groups - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
{{group.name}}
{% endblock page_title %}

{% block page_actions %}
  <a class="btn btn-success btn-with-icon" data-remote="{% url 'users:create_group' %}"
    href="{% url 'users:create_group' %}" data-toggle="modal" data-target="#modalUserGroupCreate">
    <i class="ic-add"></i>
    User Group थप्नुहोस्
  </a>
{% endblock page_actions %}

{% block dashboard %}
<div class="section-title">
  <h6 class="text-dark font-weight-bold">समूह विवरण</h6>
</div>
{% endblock dashboard %}

{% block content %}
  <div class="row h-100">
    <div class="col-lg-3 border-right h-100">
      <div class="align-vertical justify-content-between">
        <h6 class="text-dark">प्रयोगकर्ता सूची</h6>
        <button class="btn btn-primary btn-with-icon" data-toggle="modal" data-target="#exampleModal1">
          <i class="ic-add"></i>
          Add Group</button>
      </div>
      <ul class="list list-role scrollable" style="height: calc(100% - 2.625rem);">
        {% for user in group.user_set.all %}
          <li>
            <h6>{{ user.username }}</h6> 
            <a href="" class="ic-delete text-danger" data-toggle="modal" 
            data-target="#removeUser{{user.pk}}"></a>
          </li>
        {% endfor %}
      </ul>

    </div>

    <div class="col-lg-9 h-100">
      <div class="align-vertical justify-content-between">
        <h6 class="text-dark">अनुमति सूची</h6>
        <button class="btn btn-primary btn-with-icon" data-toggle="modal" data-target="#exampleModal">
          <i class="ic-add"></i>
          अनुमति थप्नुहोस्
        </button>
      </div>
      <ul class="list list-role gray-bg scrollable" style="height: calc(100% - 2.625rem);">
        {% for permission in group.permissions.all %}
          <li>
            <h6>{{ permission.name }}</h6>
            <a href="" class="ic-delete text-danger" data-toggle="modal" 
            data-target="#removePermission{{permission.pk}}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}

{% block modal %}

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">अनुमति</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'users:assign_perm_in_group' group.pk %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-12">
                <select class="form-control js-example-category" name="permissions" multiple="multiple">
                  {% for permission in permissions %}
                  <option value="{{permission.pk}}">{{permission.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info">थप्नुहोस्</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">प्रयोगकर्ता</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'users:assign_users_in_group' group.pk %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-12">
                <select class="form-control js-example-tokenizer" name="users" multiple="multiple">
                  {% for user in users %}
                  <option value="{{user.pk}}">{{user.username}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info">थप्नुहोस्</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for user in group.user_set.all %}
  <div class="modal fade" id="removeUser{{user.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalOpen"
    aria-hidden="true">
    <div class="modal-dialog modal_dma" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="text-white">प्रयोगकर्ता</h6>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 352 512" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg" data-dismiss="modal" aria-label="Close">
            <path
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
            </path>
          </svg>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'users:remove_user_from_group' group.pk user.pk %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-12">
                <h6>Are you sure you want to remove from this group ?</h6>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-info">Remove</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
  {% for permission in group.permissions.all %}
  <div class="modal fade" id="removePermission{{permission.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalOpen"
    aria-hidden="true">
    <div class="modal-dialog modal_dma" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="text-white">अनुमति</h6>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 352 512" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg" data-dismiss="modal" aria-label="Close">
            <path
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
            </path>
          </svg>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'users:remove_perm_from_group' group.pk permission.pk %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-12">
                <h6>Are you sure you want to remove from this group ?</h6>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-info">Remove</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
{% endblock modal %}

{% block extrascripts %}
<script>

  $(".js-example-tokenizer").select2({
    tags: true,
    width: '390',
    tokenSeparators: [',']
  })

  $(".js-example-category").select2({
    tags: true,
    width: '390',
    tokenSeparators: [',']
  })
</script>

{% endblock %}
