
{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
केस अनुसन्धान ट्रेसिंग- Nepal Audit Management System
{% endblock title %}

{% block page_title %}
केस ईन्भेष्टीगेशन तथा कन्ट्रय्याक्ट ट्रेसिङ्ग
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}
<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">केस ईन्भेष्टीगेशन तथा कन्ट्रय्याक्ट ट्रेसिङ्ग</h6>

    <!-- <form action="">
        <div class="form-row">
            <div class="col-md-4">
                <label for="">निकायको नाम</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </form> -->

   {% crispy form %}


 


{% include 'core/forms/form_footer.html' %}
{% endblock content %}

