<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter</h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <form method="get">
                    {% if provinces %}
                        <div class="form-group">
                            <label for>Province</label>
                            <select name="province" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for province in provinces %}
                                    <option value="{{province.id}}" >{{ province.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if districts %}
                        <div class="form-group">
                            <label for>District</label>
                            <select name="district" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for district in districts %}
                                    <option value="{{district.id}}" >{{ district.text }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                    {% endif %}
                    {% if local_levels %}
                        <div class="form-group">
                            <label for>Local Level</label>
                            <select name="local_level" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for local_level in local_levels %}
                                    <option value="{{local_level.id}}" >{{ local_level.text }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                    {% endif %}
                    {% if hospitals %}
                        <div class="form-group">
                            <label for>Hospital Name</label>
                            <select name="hospital" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for hospital in hospitals %}
                                    <option value="{{hospital.id}}" >{{ hospital.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if fiscal_years %}
                        <div class="form-group">
                            <label for> Fiscal Year</label>
                            <select name="fiscal_year" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for fiscal_year in fiscal_years %}
                                    <option value="{{fiscal_year.id}}" >{{ fiscal_year.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if statuses %}
                        <div class="form-group">
                            <label for> Form Status</label>
                            <select name="status" class="js-example-responsive" style="width:100%">
                                <option value="">-------------</option>
                                {% for key, value in statuses.items %}
                                    <option value="{{key}}" >{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>