{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
कोभिड-१९ विशेष लेखापरीक्षणको सिलसिलामा - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
कोभिड-१९ विशेष लेखापरीक्षणको सिलसिलामा प्रदेश मन्त्रालयले माग गरेको सूचना एवं जानकारी उपलव्ध गराउने प्रयोजनको लागि तयार
गरेको प्रश्नावली एवं विवरण
{% endblock page_title %}

{% block page_actions %}
<a class="btn btn-success btn-with-icon text-nowrap" href='{% url "province_forms:province_create" %}'>
  <i class="ic-add"></i>
  प्रश्नावलीहरू भर्नुहोस्
</a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>क्रम सङ्ख्या</th>
      <th>State</th>
      <th>Status</th>
      <th>कार्य</th>
    </tr>
  </thead>
  <tbody>
    {% for form_collection in form_collections %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ form_collection }}</td>
      {% if form_collection.get_status_display in 'STARTED' %}
      <td><span class="badge badge-info">{{ form_collection.get_status_display }}</span></td>
      {% elif form_collection.get_status_display in 'APPROVED' %}
      <td><span class="badge badge-success">{{ form_collection.get_status_display }}</span></td>
      {% elif form_collection.get_status_display in 'INCOMPLETE' %}
      <td><span class="badge badge-secondary">{{ form_collection.get_status_display }}</span></td>
      {% elif form_collection.get_status_display in 'REJECTED' %}
      <td><span class="badge badge-danger">{{ form_collection.get_status_display }}</span></td>
      {% else %}
      <td><span class="badge badge-warning">{{ form_collection.get_status_display }}</span></td>
      {% endif %}
      {% if form_collection.get_status_display in 'SUBMITTED, APPROVED' %}
      <td class="action">
        <a href="{% url 'province_forms:review' form_collection.pk 'submitted' %}">
          <i class="ic-visible"></i>
        </a>
      </td>
      {% elif form_collection.get_status_display in 'REJECTED' %}
      <td class="action">
        <a href="{% url 'province_forms:review' form_collection.pk 'submitted' %}">
          <i class="ic-visible"></i>
        </a> |
        <a href="{% url 'province_forms:province_update' form_collection.pk %}">
          <i class="ic-edit mr-2"></i>
        </a>
        {% else %}

      <td class="action">
        <a href="{% url 'province_forms:province_update' form_collection.pk %}">
          <i class="ic-edit mr-2"></i>
        </a>
        <a data-remote="{% url 'province_forms:province_delete' form_collection.pk %}"
          href="{% url 'province_forms:province_delete' form_collection.pk %}" data-toggle="modal"
          data-target="#modalProdDelete">
          <i class="ic-delete"></i>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block pagination %}
{% include 'master_data/partials/pagination.html' %}
{% endblock pagination %}

{% endblock content %}

{% block modal %}

<div class="modal fade" id="modalProdDelete" tabindex="-1" role="dialog" aria-labelledby="modalProdDelete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

{% include 'filter_modal.html' %}

{% endblock %}

{% block extrascripts %}
<script>
  $('#modalProdDelete').on('shown.bs.modal', function (e) {
    var button = $(e.relatedTarget);
    var modal = $(this);
    modal.find('.modal-content').load(button.data("remote"));
  });

</script>
{% endblock extrascripts %}
