{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  औषधी स्वास्थ्य सामग्री एवं उपकरण खरिद - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
औषधी स्वास्थ्य सामग्री एवं उपकरण खरिद
{% endblock page_title %}

{% block page_actions %}
        <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">औषधी स्वास्थ्य सामग्री एवं उपकरण खरिद</h6>

        <div class="text-right">
            <a data-remote="{% url 'md-importer:create' %}" href="{% url 'md-importer:create' %}" class="add-more mt-3" data-toggle="modal" data-target="#modalImporterCreate">
                <i class="ic-add"></i>नयाँ आपूर्तिकर्ता बनाउनुहोस्
            </a>
        </div>

        {% crispy form %}

        <div class="card-warning mt-3">
            <div class="align-vertical justify-content-between">
                <h6>नोटः सामाग्री उपकरण प्राप्त हुन नसकेको भए कारण खुलाउनु होला । </h6>
                <a href="javascript:void(0)" class="ic-close close-card"></a>
            </div>

        </div>

      </div>
    {% include 'core/forms/form_footer.html' with pk=pk %}
{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalImporterCreate" tabindex="-1" role="dialog" aria-labelledby="modalImporterCreate" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
</div>
{% endblock modal %}

{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
    $(".select_class").select2({
        tags: true
    })

    $('#modalImporterCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $( "#modalImporterCreate").on('submit', 'form', function(e) {
        e.preventDefault();
        saveData($(this),"#modalImporterCreate",  true);
    });

</script>
{% endblock extrascripts %}