{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Training Center - Nepal Audit Management System
{% endblock title %}

{% block page_title %}

Training Center
{% endblock page_title %}

{% block page_actions %}
<a class="btn btn-success btn-with-icon" data-remote="{% url 'md-training_center:create' %}" href="{% url 'md-training_center:create' %}"
  data-toggle="modal" data-target="#modalProdCreate">
  <i class="ic-add"></i>
Training Center थप्नुहोस्
</a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>क्रम सङ्ख्या</th>
      <th> नाम </th>
      <th class="text-right">कार्य</th>
    </tr>
  </thead>
  <tbody>
    {% for training_center in training_centers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ training_center.name }}</td>
      <td class="action">
        <a data-remote="{% url 'md-training_center:update' training_center.pk %}" href="{% url 'md-training_center:update' training_center.pk %}"
          data-toggle="modal" data-target="#modalProdUpdate">
          <i class="ic-edit mr-2"></i>
        </a>
        <a data-remote="{% url 'md-training_center:delete' training_center.pk %}" href="{% url 'md-training_center:delete' training_center.pk %}"
          data-toggle="modal" data-target="#modalProdDelete">
          <i class="ic-delete"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% block pagination %}
    {% include 'master_data/partials/pagination.html' %}
  {% endblock pagination %}

{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalProdCreate" tabindex="-1" role="dialog" aria-labelledby="modalProdCreate"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalProdUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProdUpdate"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalProdDelete" tabindex="-1" role="dialog" aria-labelledby="modalProdDelete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}


{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#modalProdCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalProdUpdate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalProdDelete').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });
  });

  $( "#modalProdCreate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this),"#modalProdCreate");
    
  });

  $( "#modalProdUpdate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this),"#modalProdUpdate");
    
  });
</script>
{% endblock extrascripts %}
