{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
क्वारेन्टीन निर्माणमा खरिद भएका सामग्री र खर्च रकम एवं खरिद प्रकृया - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
क्वारेन्टीन निर्माणमा खरिद भएका सामग्री र खर्च रकम एवं खरिद प्रकृया
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        <div class="fiscal-year">
            <span class="text-secondary des">आर्थिक वर्ष</span>
            <span>२०७७/७८</span>
            <a href="" class="ic-settings">
            </a>
        </div>
        <a href="" class="btn btn-success text-white ml-3">Save</a>
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">क्वारेन्टीन निर्माणमा खरिद भएका सामग्री र खर्च रकम एवं खरिद प्रकृया (अस्पतालबाट सञ्चालित क्वारेन्टिन निर्माणका २०७७ अषाढ मसान्तसम्म खरिद भएका सामग्रीको विवरण खुलाउने)</h6>

        {% crispy form %}

        <div class="card-warning mt-3">
            <div class="align-vertical justify-content-between">
                <h6>नोट- खरिद भएको सामग्रीअनुसारको खर्च रकम उपलव्ध नभएको अवस्थामा सामग्री खरिदमा भएको कुल खर्च र खरिद विधि उल्लेख गर्नुहोस् । </h6>
                <a href="javascript:void(0)" class="ic-close close-card"></a>
            </div>

        </div>
        
      </div>
    {% include 'core/forms/form_footer.html' with pk=pk %}
{% endblock content %}

{% block extrascripts %}
<script>
    $(".select_class").select2({
        tags: true
    })

</script>
{% endblock extrascripts %}