{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
प्रदेश सरकारले  कोभिड-१९ संक्रमण व्यवस्थापनको लागि बेग्लै कोष स्थापना गरेको भए  स्थानीय तहबाट २०७७ अषाढ मसान्तसम्मको आय व्यय विवरण खुलाउने- Nepal Audit Management System
{% endblock title %}

{% block page_title %}
प्रदेश सरकारले  कोभिड-१९ संक्रमण व्यवस्थापनको लागि बेग्लै कोष स्थापना गरेको भए  स्थानीय तहबाट २०७७ अषाढ मसान्तसम्मको आय व्यय विवरण खुलाउने
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}

<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">प्रदेश सरकारले  कोभिड-१९ संक्रमण व्यवस्थापनको लागि बेग्लै कोष स्थापना गरेको भए  स्थानीय तहबाट २०७७ अषाढ मसान्तसम्मको आय व्यय विवरण खुलाउने</h6>

    <div class="table-responsive">
        <table class="table table-01 table-bordered mt-3">
            {% crispy form %}
        </table>
    </div>
</div>
{% endblock content %}
