{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Change Password - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
पासवर्ड रिसेट गर्नुहोस्।
{% endblock page_title %}


{% block content %}

    <form name="reset_password" action="{% url 'users:reset-password' user.username user.pk %}" onsubmit="return validateForm()" method="POST">
      {% csrf_token %}
      <div class="py-4">
          <section class="row">
              <div class="col-lg-4 mb-4">
                <p class="text-muted">कृपया नयाँ पासवर्ड प्रविष्ट गर्नुहोस्।</p>
              </div>
              <div class="col-lg-8">
                <div class="form-row">
                  <div class="col-lg-6">
                    {% for message in messages %}
                      <div style="text-align: center" class="alert alert-dismissible alert-danger">  
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                      </div>
                    {% endfor %}
                    <div class="form-group"><label for="" class="text-primary">प्रयोगकर्ताको नाम</label>
                      <div class="form-control" readonly><span>{{ user.username }}</span></div>
                    </div>

                    <div class="form-group">
                      <label for="" class="text-primary">नयाँ पासवर्ड प्रविष्ट गर्नुहोस्</label>
                      <div class="form-group-icon">
                        <input type="password" name="password" class="form-control" required>
                        <i class="ic-visible text-muted password-toggler"></i>
                      </div>
                    </div>
                        
                    <div class="form-group">
                      <label for="" class="text-primary">फेरि नयाँ पासवर्ड प्रविष्ट गर्नुहोस्।</label>
                      <div class="form-group-icon">
                        <input type="password" name="password1" class="form-control" required>
                        <i class="ic-visible text-muted password-toggler"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>
        <div class="border-top border-light mb-4"></div>
        <section class="d-flex justify-content-end">
            <a class="btn btn-default mr-2 text-primary" href="{% url 'users:list' %}">रद्द गर्नुहोस्</a>
            <button class="btn btn-primary">परिवर्तन गर्नुहोस्</button>
        </section>
      </div>
    </form>

{% endblock content %}


{% block extrascripts %}
<script>
  function validateForm() {
    var form = document.forms["reset_password"];
    var password = form["password"].value;
    var password1 = form["password1"].value;

    if (password != password1) {
      var warning_box = bootbox.alert({
        size: "small",
        title: "सावधान !",
        message: "प्रविष्ट पासवर्डहरू मेल खाँदैन।",  
      });
        
      warning_box.find('.modal-header').addClass('bg-danger text-white p-3');
      warning_box.find('.modal-body').addClass('bg-white text-dark p-3');
      warning_box.find('.bootbox-close-button').addClass('bg-danger text-white p-3');
      return false;
    };
    return true;
  }

  // password visibility
  $('.password-toggler').click(function () {
    if ($(this).hasClass('ic-visible')) {
      $( this ).siblings("input").attr('type', 'text');
      $(this).removeClass('ic-visible').addClass('ic-hidden');
    } else {
      $( this ).siblings("input").attr('type', 'password');
      $(this).removeClass('ic-hidden').addClass('ic-visible');
    }
  })
</script>
{% endblock extrascripts %}
