{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  User - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
User
{% endblock page_title %}

{% block page_actions %}
  <a class="btn btn-success btn-with-icon" data-remote="{% url 'users:create' %}"
    href="{% url 'users:create' %}" data-toggle="modal" data-target="#modalUserCreate">
    <i class="ic-add"></i>
    User थप्नुहोस्
  </a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>#.</th>
      <th>इ-मेल ठेगाना</th>
      <th>प्रयोगकर्ता नाम</th>
      <th>मोबाइल नम्बर</th>
      <th>भूमिका</th>
      <th class="text-right">कार्य</th>
    </tr>
  </thead>
  <tbody>
  
    {% for user in users %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.mobile_number }}</td>
        <td>{% for group in user.groups.all %}{{group.name}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
        <td>
          <div class="dropup">
            <button class="btn" type="button" id="user-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ic-more"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="user-actions">
              <a class="dropdown-item reset-password" href="{% url 'users:reset-password' user.username user.pk %}">पासवर्ड रिसेट</a>
              <a class="dropdown-item reset-password" href="{% url 'users:update_user' user.pk %}">सम्पादन गर्नुहोस्</a>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalUserCreate" tabindex="-1" role="dialog" aria-labelledby="modalUserCreate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalUserUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUserUpdate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalUserDelete" tabindex="-1" role="dialog" aria-labelledby="modalUserDelete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}


{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#modalUserCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalUserUpdate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalUserDelete').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });
  });

  $( "#modalUserCreate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this)) 
  });

  $( "#modalUserUpdate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this)) 
  });
</script>
{% endblock extrascripts %}