{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण
{% endblock page_title %}

{% block page_actions %}
<div class="align-vertical">
  <div class="fiscal-year">
    <span class="text-secondary des">आर्थिक वर्ष</span>
    <span>२०७७/७८</span>
    <a href="" class="ic-settings">
    </a>
  </div>
  <a href="" class="btn btn-success text-white ml-3">Save</a>
</div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}
<div class="card card-body mt-3">
  <h6 class="heading-01 mb-3">आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण (अस्पतालबाट सञ्चालित आसोलेशन केन्द्रको २०७७ अषाढ मसान्तसम्मको विवरण खुलाउने)</h6>

  {% crispy form %}

</div>
{% include 'core/forms/form_footer.html' %}
{% endblock content %}

{% block extrascripts %}
<script>
    $(".select_class").select2({
        tags: true
    })

</script>
{% endblock extrascripts %}