{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण
{% endblock page_title %}

{% block page_actions %}
<div class="align-vertical">
  {% include 'master_data/partials/go_back.html' %}
</div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}
<div class="card card-body mt-3">
  <h6 class="heading-01 mb-3">आसोलेशनकेन्द्र व्यवस्थापन सम्बन्धी बिबरण (अस्पतालबाट सञ्चालित आसोलेशन केन्द्रको २०७७ अषाढ मसान्तसम्मको विवरण खुलाउने)</h6>

  {% crispy form %}

  <div class="card-warning mt-3">
      <div class="align-vertical justify-content-between">
          <h6>नोट: प्रदेशबाट आईशोलेशन केन्द्र निर्माण ब्यबस्थापन भएकोमा यो बिबरण उपलब्ध गराउनुहोला । </h6>
          <a href="javascript:void(0)" class="ic-close close-card"></a>
      </div>

  </div>

</div>
{% include 'core/forms/form_footer.html' %}
{% endblock content %}