{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
केश अनुसन्धान तथा कन्याक्ट खोजपड्ताल टीम  परिचालन - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
केश अनुसन्धान तथा कन्याक्ट खोजपड्ताल टीम  परिचालन
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
{% include 'core/forms/progress_bar.html' %}
<div class="card card-body mt-3">
    <h6 class="heading-01 mb-3">केश अनुसन्धान तथा कन्याक्ट खोजपड्ताल टीम  परिचालन (स्थानीय तहबाट २०७७ अषाढ मसान्तसम्म टीम परिचालन गरेको विवरण खुलाउने)</h6>

    {% crispy form %}

    <div class="card-warning mt-3">
        <div class="align-vertical justify-content-between">
            <h6>नोट १. CICTT-स्थानियतह अन्तगर्त परिचालन भएका केश अनुसन्धान तथा कन्याक्ट खोजपड्ताल टीम (Case Investigation and Contact Tracing Team -CICTT)र ती टीमबाट सम्पादन भएका प्रमुख कार्य खुलाउनुहोस् ।</h6>
            <a href="javascript:void(0)" class="ic-close close-card"></a>
        </div>
    </div>

</div>
{% include 'core/forms/form_footer.html' with pk=pk %}
{% endblock content %}
