{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Country - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
Country
{% endblock page_title %}

{% block page_actions %}
<a class="btn btn-success btn-with-icon" data-remote="{% url 'md-country:create' %}"
    href="{% url 'md-country:create' %}" data-toggle="modal" data-target="#modalCounCreate">
    <i class="ic-add"></i>
    Country थप्नुहोस्
</a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th>#.</th>
            <th>Address</th>
            <th class="text-right">कार्य</th>
        </tr>
    </thead>
    <tbody>
        {% for country in country_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{country.name }}</td>
            <td class="action">
                <a data-remote="{% url 'md-country:update' country.pk %}"
                    href="{% url 'md-country:update' country.pk %}" data-toggle="modal" data-target="#modalCounUpdate">
                    <i class="ic-edit mr-2"></i>
                </a>
                <a data-remote="{% url 'md-country:delete' country.pk %}"
                    href="{% url 'md-country:delete' country.pk %}" data-toggle="modal" data-target="#modalProdDelete">
                    <i class="ic-delete"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% block pagination %}
        {% include 'master_data/partials/pagination.html' %}
    {% endblock pagination %}

{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalCounCreate" tabindex="-1" role="dialog" aria-labelledby="modalCounCreate"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modalCounUpdate" tabindex="-1" role="dialog" aria-labelledby="modalCounUpdate"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modalProdDelete" tabindex="-1" role="dialog" aria-labelledby="modalProdDelete"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock modal %}


{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#modalCounCreate').on('shown.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });

        $('#modalCounUpdate').on('shown.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });

        $('#modalProdDelete').on('shown.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    });

    $("#modalCounCreate").on('submit', 'form', function (e) {
        var $prod_modal = $(this);
        e.preventDefault();
        saveData($(this))
    });

    $("#modalCounUpdate").on('submit', 'form', function (e) {
        var $prod_modal = $(this);
        console.log($prod_modal)
        e.preventDefault();
        saveData($(this))
    });
</script>
{% endblock extrascripts %}
