<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            सिस्टम लग - इन
        </title>

        {% block styles %}
            {% include 'core/_styles.html' %}
        {% endblock styles %}

    </head>
      
    <body>
        <div class="login-wrapper">
            <div class="login-container">
                <div class="login-card">
                    <img src="{% static 'images/nepal-emblem.png' %}" alt="NID">
                    <div class="card card_rounded p-4 mt-4">
                        <h6 class="login-heading text-center mb-4">सिस्टम लग - इन</h6>

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username" value="">
                            </div>
                    
                            <div class="position-relative mt-2">
                                <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password" value="">
                                <a class="ic-visible viewPassword"></a>
                                </div>
                            </div>
                    
                            
                            <div class="from-group mt-3">
                                <button type="submit" class="btn btn-info btn-block text-white">लग - इन</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}
            {% include 'core/_scripts.html' %}
            <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
        {% endblock scripts %}
  </body>
</html>

