{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
पिसीआर प्रयोगशाला सम्बन्धी बिबरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
पिसीआर प्रयोगशाला सम्बन्धी बिबरण
{% endblock page_title %}

{% block page_actions %}
        <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">पिसीआर प्रयोगशाला सम्बन्धी बिबरण</h6>

        <div class="text-right">
          <a data-remote="{% url 'md-laboratory:create' %}" href="{% url 'md-laboratory:create' %}" class="add-more mt-3" data-toggle="modal" data-target="#modalLabCreate">
              <i class="ic-add"></i>नयाँ प्रयोगशाला बनाउनुहोस्
          </a>
        </div>

        {% crispy form %}
        
      </div>
    {% include 'core/forms/form_footer.html' with pk=pk %}
{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalLabCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabCreate" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
</div>
{% endblock modal %}

{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>

  $('#modalLabCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $( "#modalLabCreate").on('submit', 'form', function(e) {
        e.preventDefault();
        saveData($(this),"#modalLabCreate",  true);
    });

  var date_choice = {{date_choice|safe}};
  var capacity_choice = {{capacity_choice|safe}};

    $( document ).ready(function() {
        $("div.table-responsive select").each(function(){
            var select_field = $(this).attr('id');
            //console.log(select_field)
            get_select_value(select_field);
        });
    });

  //$('#id_lines-0-laboratory').attr('onchange','get_select_value(event)')

  function get_select_value(e){
    e = e || window.event;
    var targ = e.target || e.srcElement;
    if (targ){
        var id_tag = '#'+$(targ).attr("id");
    }else{
        var id_tag = '#'+e;
    }

    var id_tag_num = id_tag.split('-')[1];
    var selected_val = $(id_tag+" option:selected").val();
    
    $('#id_lines-'+id_tag_num+'-capacity_daily_test').val(capacity_choice[selected_val])
    
    $('#id_lines-'+id_tag_num+'-date_establishment').val(date_choice[selected_val])
  }

</script>
{% endblock extrascripts %}
