{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  केही प्रमुख स्वास्थ्य सामाग्रीको खरिद दर सम्बन्धी बिबरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
केही प्रमुख स्वास्थ्य सामाग्रीको खरिद दर सम्बन्धी बिबरण
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">केही प्रमुख स्वास्थ्य सामाग्रीको खरिद दर सम्बन्धी बिबरण (२०७६।७७)</h6>
        
        {% crispy form %}

        <div class="card-warning mt-3">
            <div class="align-vertical justify-content-between">
                <h6>नोटः स्वास्थ्य सामाग्री खरिद गर्ने सबै निकायले भर्नु होला। सामानको नामसंगै स्पेशीफिकेशन छोटकरीमा उल्लेख गरिदिनु होला ।</h6>
                <a href="javascript:void(0)" class="ic-close close-card"></a>
            </div>

        </div>
        
      </div>
    {% include 'core/forms/form_footer.html' %}
{% endblock content %}
