{% load crispy_forms_tags %}

<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLabel">Covid Hospital Management Type</h6>
  <a class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body pt-2">
  <form id="cov_hos_managament_update" method="post" action="{% url 'md-cov_hos_managament:update' cov_hos_managament_type.pk %}">
    {% csrf_token %}
    {{ form|crispy  }}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
  <button id="btn_cov_hos_managament_update" form="cov_hos_managament_update" type="submit" class="btn btn-success">Save</button>
</div>