{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Allowance Type - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
भत्ता प्रकार
{% endblock page_title %}

{% block page_actions %}
<a class="btn btn-success btn-with-icon" data-remote="{% url 'md-allowance_type:create' %}"
  href="{% url 'md-allowance_type:create' %}" data-toggle="modal" data-target="#modalAllowanceCreate">
  <i class="ic-add"></i>
  भत्ता प्रकार थप्नुहोस्
</a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>क्रम सङ्ख्या</th>
      <th> नाम</th>
      <th>वर्णन</th>

      <th class="text-right">कार्य</th>
    </tr>
  </thead>
  <tbody>
    {% for allowance in allowance_type_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ allowance.name }}</td>
      <td>{{ allowance.description }}</td>
      <td class="action">
        <a data-remote="{% url 'md-allowance_type:update' allowance.pk %}"
          href="{% url 'md-allowance_type:update' allowance.pk %}" data-toggle="modal"
          data-target="#modalAllowanceUpdate">
          <i class="ic-edit mr-2"></i>
        </a>
        <a data-remote="{% url 'md-allowance_type:delete' allowance.pk %}"
          href="{% url 'md-allowance_type:delete' allowance.pk %}" data-toggle="modal"
          data-target="#modalAllowanceDelete">
          <i class="ic-delete"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% block pagination %}
    {% include 'master_data/partials/pagination.html' %}
  {% endblock pagination %}

{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalAllowanceCreate" tabindex="-1" role="dialog" aria-labelledby="modalAllowanceCreate"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalAllowanceUpdate" tabindex="-1" role="dialog" aria-labelledby="modalAllowanceUpdate"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalAllowanceDelete" tabindex="-1" role="dialog" aria-labelledby="modalAllowanceDelete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}


{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#modalAllowanceCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalAllowanceUpdate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalAllowanceDelete').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });
  });

  $("#modalAllowanceCreate").on('submit', 'form', function (e) {
    e.preventDefault();
    saveData($(this));
  });


  $("#modalAllowanceUpdate").on('submit', 'form', function (e) {
    e.preventDefault();
    saveData($(this))
  });
</script>
{% endblock extrascripts %}
