{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
राहत वितरण खर्च सम्वन्धी विवरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
राहत वितरण खर्च सम्वन्धी विवरण
{% endblock page_title %}

{% block page_actions %}
    <div class="align-vertical">
        {% include 'master_data/partials/go_back.html' %}
    </div>
{% endblock page_actions %}

{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">राहत वितरण खर्च सम्वन्धी विवरण </h6>

        {% crispy form %}
        
      </div>
    {% include 'core/forms/form_footer.html' with pk=pk %}
{% endblock content %}