
{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
कामका लागि पारिश्रमिक (Cash for Work) मा आधारित रोजगार आयोजनाहरु तर्जुमा तथा योजनागत खर्चको विवरण - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
कामका लागि पारिश्रमिक (Cash for Work) मा आधारित रोजगार आयोजनाहरु तर्जुमा तथा योजनागत खर्चको विवरण
{% endblock page_title %}

{% block page_actions %}
<div class="align-vertical">
    {% include 'master_data/partials/go_back.html' %}
</div>
{% endblock page_actions %}
{% block content %}
    {% include 'core/forms/progress_bar.html' %}
    <div class="card card-body mt-3">
        <h6 class="heading-01 mb-3">कामका लागि पारिश्रमिक (Cash for Work) मा आधारित रोजगार आयोजनाहरु तर्जुमा तथा योजनागत खर्चको विवरण</h6>

        {% crispy form %}
      </div>
    {% include 'core/forms/form_footer.html' %}
{% endblock content %}