{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Government Body - Nepal Audit Management System
{% endblock title %}

{% block page_title %}
सरकारी निकाय
{% endblock page_title %}

{% block page_actions %}
  <a class="btn btn-success btn-with-icon" data-remote="{% url 'md-gov:create' %}"
    href="{% url 'md-gov:create' %}" data-toggle="modal" data-target="#modalGovCreate">
    <i class="ic-add"></i>
    सरकारी निकाय थप्नुहोस्
  </a>
{% endblock page_actions %}

{% block content %}
<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>क्रम सङ्ख्या</th>
      <th>नाम</th>
      <th> सरकारी निकाय प्रकार</th>
      <th class="text-right">कार्य</th>
    </tr>
  </thead>
  <tbody>
    {% for gov_body in gov_bodies %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ gov_body.name }}</td>
        <td>{{ gov_body.type }}</td>
        <td class="action">
          <a data-remote="{% url 'md-gov:update' gov_body.pk %}"
            href="{% url 'md-gov:update' gov_body.pk %}" data-toggle="modal" data-target="#modalGovUpdate">
            <i class="ic-edit mr-2"></i>
          </a>
          <a data-remote="{% url 'md-gov:delete' gov_body.pk %}"
            href="{% url 'md-gov:delete' gov_body.pk %}" data-toggle="modal" data-target="#modalGovDelete">
            <i class="ic-delete"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  {% block pagination %}
    {% include 'master_data/partials/pagination.html' %}
  {% endblock pagination %}

{% endblock content %}

{% block modal %}
<div class="modal fade" id="modalGovCreate" tabindex="-1" role="dialog" aria-labelledby="modalGovCreate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalGovUpdate" tabindex="-1" role="dialog" aria-labelledby="modalGovUpdate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modalGovDelete" tabindex="-1" role="dialog" aria-labelledby="modalGovDelete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock modal %}


{% block extrascripts %}
<script src="{% static 'js/post_data.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#modalGovCreate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalGovUpdate').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });

    $('#modalGovDelete').on('shown.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      var modal = $(this);
      modal.find('.modal-content').load(button.data("remote"));
    });
  });

  $( "#modalGovCreate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this),"#modalGovCreate") 
  });

  $( "#modalGovUpdate").on('submit', 'form', function(e) {
    e.preventDefault();
    saveData($(this),"#modalGovUpdate") 
  });
</script>
{% endblock extrascripts %}
