{% load crispy_forms_tags %}

<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLabel">सरकारी निकाय</h6>
  <a class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body pt-2">
  <form id="prod_create" method="post" action="{% url 'md-gov:create' %}">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.type|as_crispy_field }}
    {{ form.covid_hospital|as_crispy_field }}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
  <button id="btn_prod_create" form="prod_create" type="submit" class="btn btn-success">Save</button>
</div>