{% load crispy_forms_tags %}

<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLabel">Are you sure?</h6>
  <a class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body pt-2">
  <form id="local_level_delete" method="post" action="{% url 'local_level_forms:local_level_delete' form_collections.pk %}">
    {% csrf_token %}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
  <button id="btn_local_level_delete" form="local_level_delete" type="submit" class="btn btn-danger">Delete</button>
</div>